@using Assignment_5.Models;
<!doctype html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>User DashBoard</title>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark text-white">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link " href="/UserDashBoard/Index">Home</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link active" href="/Post/About/@Model">About</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/Post/Profile/@Model">Profile</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/CAccount/LogIn">Log Out</a>
                </li>
            </ul>
        </div>
    </nav>
    <br />
    <div class="container">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam maximus iaculis viverra. In ut ullamcorper lectus. Mauris sit amet neque lectus. Ut leo enim, blandit eu vulputate sit amet, mattis vitae tortor. Suspendisse vestibulum mauris vel accumsan scelerisque. Proin euismod enim in diam commodo, eu sollicitudin velit lacinia. In tellus nulla, iaculis cursus erat at, elementum placerat metus. Donec hendrerit pellentesque blandit. Curabitur laoreet volutpat tortor ac blandit. Mauris porta leo a est gravida consequat.

            Nulla facilisi. Ut hendrerit dolor nec justo tristique auctor. Praesent efficitur nibh sed nibh pellentesque pulvinar. Nunc at dui ut eros cursus pretium. Morbi efficitur eu eros in maximus. Phasellus blandit felis eros, a tincidunt lectus cursus id. Donec semper luctus odio vel pulvinar. Phasellus nisl diam, ultrices ac sollicitudin et, malesuada eu ligula. Mauris vitae erat quis urna mattis dictum vitae vitae sem.

            Aenean pharetra sed risus at eleifend. Integer pharetra felis in ante bibendum faucibus. Donec ut egestas nulla, vel hendrerit felis. Cras auctor quis ante vitae facilisis. Proin at magna tellus. Donec aliquam metus sit amet libero egestas volutpat. Nam ex mauris, hendrerit id semper et, finibus at felis. Suspendisse viverra eget magna nec auctor. Pellentesque rutrum gravida erat, semper luctus libero egestas quis.aa
        </p>
    </div>


</body>
</html>