@using Assignment_5.Models;
<!doctype html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

  
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>Hello, world!</title>
</head>
<body>
    <nav class="navbar navbar-default bg-dark text-white">
        <div class="container-fluid">
            <h1>Post</h1>
            <a class="btn btn-success float-right" href="/UserDashBoard/Index">Back</a>
        </div>
    </nav>
    <br /><br />
    <div class="container">
        @foreach (var post in (List<Post>)ViewData["posts"])
        {
            <div class="container border">

                <ul class="list-inline">
                    <li class="list-inline-item"><span>@post.name</span></li>
                    <li class="list-inline-item"><span>@post.created_at</span></li>
                </ul>

                @if(ViewBag.Message != null)
                {
            <div class="container">
                <a class="btn btn-success" href="/Post/Update/@post.id" >Edit</a>
                <a class="btn btn-danger" href="/Post/Delete/@post.id">Delete</a>
            </div>
                }

                <h3>@post.title</h3>

                <p>@post.body</p>
                <br /><br />

            </div>

        }
    </div>


</body>
</html>