@using Assignment_5.Models;
<!doctype html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>User DashBoard</title>
    <script type="text/javascript" language="javascript">
	function validate() {
		const errorElements = document.getElementsByClassName('error');
		for(var i = 0; i < errorElements.length; i++) {
			errorElements[i].innerHTML = '';
        }
        if (document.form.fname.value == "") {
            document.getElementsByClassName('error')[0].innerHTML = 'Enter Name';
            return false;
        }
	    if(document.form.uname.value == ""){
		    document.getElementsByClassName('error')[1].innerHTML = 'Enter User Name' ;
		    return false ;
	    }
	    if(document.form.email.value == ""){
		    document.getElementsByClassName('error')[2].innerHTML = 'Enter Email' ;
		    return false ;
	    }
	    if(document.form.pass.value == ""){
		    document.getElementsByClassName('error')[3].innerHTML = 'Enter Password' ;
		    return false ;
	    }

	

    }
    </script>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark text-white">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link " href="/AdminCont/Index">Home</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link active" href="/AdminDashBoard/AddUser">Add User</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/CAccount/LogIn">Log Out</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <form name="form" enctype="multipart/form-data" onsubmit="return validate()" method="post" action="/AdminDashBoard/AddUserForm">
            <div class="form-group">
                <label class="col-form-label-lg">Full Name</label>
                <input type="text" name="fname" class="form-control">
                <span style="color: red" class="error"></span>
            </div>
            <div class="form-group">
                <label class="col-form-label-lg">User Name</label>
                <input type="text" name="uname" class="form-control">
                <span style="color: red" class="error"></span>
            </div>
            <div class="form-group">
                <label class="col-form-label-lg">Email</label>
                <input type="email" name="email" class="form-control">
                <span style="color: red" class="error"></span>
            </div>
            <div class="form-group">
                <label class="col-form-label-lg">Password</label>
                <input type="password" name="pass" class="form-control">
                <span style="color: red" class="error"></span>
            </div>
            <div class="form-group">
                <label class="col-form-label-lg">Upload Your Profile Pic : </label>
                <input type="file" required name="PIC" value="Browse">
            </div>
            <br>
            <div>
                <input type="submit" name="submit" class="btn btn-success">
            </div>
        </form>
    </div>
    @if (ViewBag.Message != null)
    {
        <script>
            window.onload = function () {
                alert("@ViewBag.Message");
            };
        </script>
    }

    @if (ViewBag.Message2 != null)
    {
        <script>
            window.onload = function () {
                alert("@ViewBag.Message2");
            };
        </script>
    }
</body>
</html>